<div class="container">
  <div class="row">
    <form [formGroup]="form">
      <div class="col-md-4">
        <label for="firstName">Ad</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          autocomplete="off"
          class="form-control"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid': f['firstName'].invalid && f['firstName'].dirty,
            'is-valid': f['firstName'].valid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['firstName']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'En az üç karakter',
            control: f['firstName']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'En fazla otuz karakter',
            control: f['firstName']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="lastName">Soyad</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          autocomplete="off"
          class="form-control"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid': f['lastName'].invalid && f['lastName'].dirty,
            'is-valid': f['lastName'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['lastName']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'En az üç karakter',
            control: f['lastName']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'En fazla otuz karakter',
            control: f['lastName']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="identificationNumber">Kimlik Numarası</label>
        <input
          type="text"
          name="identificationNumber"
          id="identificationNumber"
          autocomplete="off"
          class="form-control"
          formControlName="identificationNumber"
          [ngClass]="{
            'is-invalid':
              f['identificationNumber'].invalid &&
              f['identificationNumber'].dirty,
            'is-valid': f['identificationNumber'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['identificationNumber']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'En az on bir karakter',
            control: f['identificationNumber']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'En fazla on bir karakter',
            control: f['identificationNumber']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="phoneNumber">Telefon Numarası</label>
        <input
          type="text"
          name="phoneNumber"
          id="phoneNumber"
          autocomplete="off"
          class="form-control"
          formControlName="phoneNumber"
          [ngClass]="{
            'is-invalid': f['phoneNumber'].invalid && f['phoneNumber'].dirty,
            'is-valid': f['phoneNumber'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['phoneNumber']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'En az on bir karakter',
            control: f['phoneNumber']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'En fazla on bir karakter',
            control: f['phoneNumber']
          }"
        ></ng-container>
      </div>

      <br />
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-success" type="button" (click)="save()">
          Kaydet
        </button>
        <button class="btn btn-warning" type="button" (click)="clear()">
          Temizle
        </button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Kimlik Numarası</th>
          <th>Telefon Numarası</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.firstName | titlecase }}</td>
          <td>{{ student.lastName | titlecase }}</td>
          <td>{{ student.identificationNumber }}</td>
          <td>{{ student.phoneNumber }}</td>

          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-danger"
                (click)="delete(student)"
              >
                Sil
              </button>
              <button
                type="button"
                class="btn btn-info"
                (click)="getStudent(student.id)"
              >
                Güncelle
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template
  #formAlertTemplate
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="text-danger">{{ message }}</div>
  </ng-container>
</ng-template>
