<div class="container">
  <div class="row">
    <form [formGroup]="form">
      <div class="col-md-4">
        <label for="studentId">Öğrenci</label>
        <ng-select
          bindLabel="name"
          bindValue="studentId"
          name="studentId"
          formControlName="studentId"
          [ngClass]="{
            'is-invalid': f['studentId'].invalid && f['studentId'].dirty,
            'is-valid': f['studentId'].valid
          }"
          ><ng-option *ngFor="let student of students" [value]="student.id"
            >{{ student.firstName | titlecase }}
            {{ student.lastName | titlecase }}</ng-option
          >
        </ng-select>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['studentId']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="bookId">Kitap</label>
        <ng-select
          bindLabel="name"
          bindValue="id"
          name="bookId"
          formControlName="bookId"
          [ngClass]="{
            'is-invalid': f['bookId'].invalid && f['bookId'].dirty,
            'is-valid': f['bookId'].valid
          }"
          ><ng-option *ngFor="let book of books" [value]="book.id"
            >{{ book.name | titlecase }}
          </ng-option>
        </ng-select>
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['bookId']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="loanDate">Ödünç Verme tarihi</label>
        <input
          type="text"
          name="loanDate"
          id="loanDate"
          autocomplete="off"
          class="form-control"
          bsDatepicker
          formControlName="loanDate"
          [ngClass]="{
            'is-invalid': f['loanDate'].invalid && f['loanDate'].dirty,
            'is-valid': f['loanDate'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['loanDate']
          }"
        ></ng-container>
      </div>
      <div class="col-md-4">
        <label for="returnDate">İade tarihi</label>
        <input
          type="text"
          name="returnDate"
          id="returnDate"
          autocomplete="off"
          class="form-control"
          bsDatepicker
          formControlName="returnDate"
          [ngClass]="{
            'is-invalid': f['returnDate'].invalid && f['returnDate'].dirty,
            'is-valid': f['returnDate'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formAlertTemplate"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Bu alan boş bırakılamaz',
            control: f['loanDate']
          }"
        ></ng-container>
      </div>

      <button class="btn btn-success" (click)="save()">Kaydet</button>
      <button class="btn btn-warning" (click)="clear()">Temizle</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>Öğrenci İsmi</th>
          <th>Kitap İsmi</th>
          <th>Ödünç verme tarihi</th>
          <th>İade tarihi</th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loan of loans">
          <td>
            {{ loan.studentFirstName | titlecase }}
            {{ loan.studentLastName | titlecase }}
          </td>
          <td>{{ loan.bookName }}</td>
          <td>{{ loan.loanDate | date: "dd-MM-yyyy" }}</td>
          <td>{{ loan.returnDate | date: "dd-MM-yyyy" }}</td>

          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                *ngIf="loan.returnDate != null"
                type="button"
                class="btn btn-danger"
                (click)="delete(loan)"
              >
                Sil
              </button>
              <button
                type="button"
                class="btn btn-info"
                (click)="getLoan(loan.id)"
              >
                Güncelle
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template
  #formAlertTemplate
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="text-danger">{{ message }}</div>
  </ng-container>
</ng-template>
